.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}


.columns > div > div {
  order: 1;
  background-color: #0000FF;
}

.columns.shaded {
	background-color: #0000FF;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 100px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
